

body{
  background-color:#696969;
  width:100%;
  font-size:24px;
}

div#wrapper{

  width:920px;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  background-color:#FFFFFF;

}

#headNav{
  position:relative;
  width:900px;;
  background-color:#F2BF23;
  padding:5px 10px;
  height:48px;


}

#pageTitle{

  margin-left:0px;
  font-size:24px;
  font-style: normal;
  color:#19395C;;

}

input{
	font-size:24px;
}

#inidigatorWrapper{
	height:40px;
	width:900px;
	 padding: 10px 10px;
	margin:10px 0px;
}

#indigator{
    background-color:cornflowerblue;
    color:white;
    height:0;
    text-align:center;
    display:none;
}

#videoWrapper{
	width:900px;
	margin:10px 0px;
	padding: 10px 10px;
	text-align:center;
}

#video{
	margin-left:auto;
 	margin-right:auto;
}


#controller{
	width:920px;
	text-align:center;
}


button{
	padding:5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:none;
	text-align:center;
  	background-color:#19395C;
  	font-size:24px;
	color:#FFFFFF;
	margin: 10px auto;
	max-width:200px;
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
}

button:hover{
  background-color:#FFFFFF;
  color:#000000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button:hover.disabled, button.disabled{
	background-color:#696969;
	color:#FFFFFF;
}


#results{
	text-align:center;
	margin:20px 0;
}

#debug{
	text-align:center;
}

button#onDebug{
	float:right;
	margin: 0px auto;
	/* visibility:hidden; */
}

button#onDebug:hover{

	
}

input[type=text]{
	width:60px;
}

#menuForDebug{
	height:0px;
	display:none;
	padding: 10px 0px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}


#count{
	font-size:24px;
}

#downloadImageWrapper{
	text-align:center;
}
a#downloadImage{
	margin-right: auto;
	margin-left: auto;
	display:none;
}